<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/admin.css" />
</head>
<body>

<div class="layout">
    <aside class="sidebar">
        <h1 class="admin-title"><a href = '/' style="text-decoration: none;   color: #000000;">Gallery</a></h1>

        <label class="label">Artwork Title:</label>
        <input type="text" id="artTitle" class="text-input" placeholder="Enter title..." />

        <label class="label">Select Image:</label>
        <input type="file" id="imageInput" accept="image/*" class="file-input" />

        <div class="button-group">
            <button id="finishBtn" class="action-btn finish" disabled>Finish Upload</button>
            <button id="cancelBtn" class="action-btn cancel" disabled>Cancel</button>
        </div>
    </aside>

    <main class="content">
        <div id="adminGallery" class="gallery"></div>
    </main>

</div>

<script src="js/admin.js"></script>
</body>
</html>
