<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106469495', 'ym');

        ym(106469495, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/106469495" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/admin.css" />
</head>
<body>

<div class="layout">
    <aside class="sidebar">
        <h1 class="admin-title"><a href = '/' style="text-decoration: none;   color: #000000;">Gallery</a></h1>

        <label class="label">Artwork Title:</label>
        <input type="text" id="artTitle" class="text-input" placeholder="Enter title..." />

        <label class="label">Select Image:</label>
        <input type="file" id="imageInput" accept="image/*" class="file-input" />

        <div class="button-group">
            <button id="finishBtn" class="action-btn finish" disabled>Finish Upload</button>
            <button id="cancelBtn" class="action-btn cancel" disabled>Cancel</button>
        </div>
    </aside>

    <main class="content">
        <div id="adminGallery" class="gallery"></div>
    </main>

</div>

<script src="js/admin.js"></script>
</body>
</html>
